<header>
    <a href='#' class='tag' rel='tag'>
        {% for tag in include.tags %}
        
        {% if forloop.length > 1 and forloop.last %}
        {% endif %}
        {{ tag }}{% if forloop.rindex > 1 %},{% endif %}
        
        {% endfor %}
    </a>
    <h1 class='headline'> {{ include.title }}</h1>
    <div class='author'>By
        {% for author in include.authors %}
        
        {% if forloop.length > 1 and forloop.last %}
        and
        {% endif %}
        {{ author }}{% if forloop.rindex > 1 %},{% endif %}
        
        {% endfor %}
    </div>
</header>

