@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
@import url(https://brick.a.ssl.fastly.net/Libre+Caslon+Display:400);

$logo-font: 'Libre Caslon Display';
$headline-font: 'Archivo Narrow';
$body-font: 'Crimson Text';
$monospace-font: 'courier-prime';

$body-font-color: #444;
$headline-font-color: #222;

body {
  font-family: $body-font;
  padding-bottom: 3em;
}

a {
  color: $body-font-color;
}

.logo {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  .title {
    font-size: 43px;
    font-family: $logo-font;
  }
  .tagline {
    font-size: 14px;
    font-family: $monospace-font;
  }
}

#footer-img {
  height: 120px;
  padding: 0.5em;
}

footer {
  text-align: center;
}

#sidebar {
  padding: 3.2em;
  position: fixed;
  font-family: $monospace-font;
  top: 0;
  left: 0;
  width: 160px;
}

#sidebar-button-icon {
  height: 1em;
  vertical-align: top;
  margin-bottom: 3.2em;
}

.sidebar-menu-item {
  display: block;
  // text-align: right;
  padding: 1.4em 0;
}

#sidebar-menu {
  position: relative;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.sidebar-menu-default {
  left: 0;
}

.collapsed {
  left: -230px;
}

article {
  font-size: 20px;
  font-family: $body-font;
  color: $body-font-color;
  header {
    max-width: 36em;
    margin: 0 auto;
    // margin-bottom: 1.6em;
    .tag {
      font-size: 16px;
      font-family: $monospace-font;
      text-decoration: none;
      color: $body-font-color;
      margin-bottom: 0.7em;
      display: block;
    }
    .author {
      display: block;
      margin-bottom: 1.6em;
    }
    .headline {
      color: $headline-font-color;
      margin-top: 0;
      margin-bottom: 0.7em;
      font-family: $headline-font;
      line-height: 1.4em;
      padding-bottom: 0.8em;
      border-bottom: 0.07em solid #666;
    }
  }

  p {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 36em;
    margin-bottom: 1.6em;
  }

}
