@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
@import url(https://brick.a.ssl.fastly.net/Libre+Caslon+Display:400);
body {
  font-family: "Crimson Text";
  padding-bottom: 3em; }

a {
  color: #444; }

.logo {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center; }
  .logo .title {
    font-size: 43px;
    font-family: "Libre Caslon Display"; }
  .logo .tagline {
    font-size: 14px;
    font-family: "courier-prime"; }

#footer-img {
  height: 120px;
  padding: 0.5em; }

footer {
  text-align: center; }

#sidebar {
  padding: 3.2em;
  position: fixed;
  font-family: "courier-prime";
  top: 0;
  left: 0;
  width: 160px; }

#sidebar-button-icon {
  height: 1em;
  vertical-align: top;
  margin-bottom: 3.2em; }

.sidebar-menu-item {
  display: block;
  padding: 1.4em 0; }

#sidebar-menu {
  position: relative;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  overflow: hidden; }

.sidebar-menu-default {
  left: 0; }

.collapsed {
  left: -230px; }

article {
  font-size: 20px;
  font-family: "Crimson Text";
  color: #444; }
  article header {
    max-width: 36em;
    margin: 0 auto; }
    article header .tag {
      font-size: 16px;
      font-family: "courier-prime";
      text-decoration: none;
      color: #444;
      margin-bottom: 0.7em;
      display: block; }
    article header .author {
      display: block;
      margin-bottom: 1.6em; }
    article header .headline {
      color: #222;
      margin-top: 0;
      margin-bottom: 0.7em;
      font-family: "Archivo Narrow";
      line-height: 1.4em;
      padding-bottom: 0.8em;
      border-bottom: 0.07em solid #666; }
  article p {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 36em;
    margin-bottom: 1.6em; }
